<!DOCTYPE html>
<html>
<head>
    <!-- Do not modify below this line -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="3e99e29e-7777-4663-8840-1e37084d9dd4" />
    <!-- Do not modify above this line -->

    <title>@ViewBag.Title - Assignment 3 (hlee246)</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Assignment3", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                    <li>@Html.ActionLink("Artists", "Index", "Artists")</li>
                    <li>@Html.ActionLink("MediaTypes", "Index", "MediaTypes")</li>
                    <li>@Html.ActionLink("Tracks", "Index", "Tracks")</li>
                    <li>@Html.ActionLink("Playlists", "Index", "Playlists")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; WEB524 - Fall 2021 - Heebin Lee &#64; hlee246 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
