<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WEB322 Assignment3-5</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="shortcut icon" href="/css/style.css" />
    <script src="/script.js"></script>
  </head>

  <body>
    {{> header}}
    
      <div class="main-contents">
        {{> nav user}}
        <div class="dash">
          <p class="dash-welcome">Hello {{user.fname}},</p>
          <p class="dash-welcome">You sucessfully booked {{booked.title}}!</p>
          <p class="dash-sub">email: {{user.email}}</p>
          <table class="confirm">
          <tbody>
              <tr>
                  <td>Check In: </td>
                  <td>{{moment booked.start format="YYYY-MM-DD"}}</td>
              </tr>
              <tr>
                  <td>Check Out: </td>
                  <td>{{moment booked.end format="YYYY-MM-DD"}}</td>
              </tr>
              <tr>
                  <td>Total days: </td>
                  <td>{{booked.days}}</td>
              </tr>
              <tr>
                  <td>Guest: </td>
                  <td>{{booked.guest}}</td>
              </tr>
              <tr>
                  <td>Total Amount: </td>
                  <td>{{booked.total}}</td>
              </tr>
          </tbody>
          </table>
        </div>
      </div>



      {{> footer}}
    

  </body>
</html>