<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WEB322 Assignment3-5</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="shortcut icon" href="/css/style.css" />
    <script src="/script.js"></script>
  </head>

  <body>
    {{> header}}
    
      <div class="main-contents">
        {{> nav user}}
        <div class="profile">
        <h1>User Profile: {{user.fname}} {{user.lname}}</h1>
        <div class="form-edit">
        <label>User Email:</label>{{user.email}}<br/>
        </div>
        <div class="form-edit">
        <label>Phone:</label>{{user.phone}}<br/>
        </div>
        <div class="form-edit">
        <label>Birthday:</label>{{user.bday}}<br/>
        </div>
        <div class="form-edit">
        <label>Is Administrator:</label>{{user.isAdmin}}<br/>
        </div>
        <p><a class="profileEdit" href="/profile/edit">Edit</a></p>

        </div>
      </div>
     {{> footer}}
    

  </body>
</html>